.background1 {
  background-image: url(recback.png);
  background-position: bottom;

}

.selector {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  margin-bottom: 50px;

}

.first {
  margin-top: 70px;
}


.copyright1 {
  font-family: Monday;
  text-align: left;
  margin-left: 2.5%;
  margin-top: 8%;
  font-size: 15px;
  position: bottom;
  color: black;
}